
@{
    Layout = null;
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.20.0/pages/user/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Apr 2024 22:43:02 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================--><!--    Document Title--><!-- ===============================================-->
    <title>Falcon | Dashboard &amp; Web App Template</title>

    <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/falconAdminPanel/falcon/v3.20.0/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/falconAdminPanel/falcon/v3.20.0/assets/js/config.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/simplebar/simplebar.min.js"></script>

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link href="/falconAdminPanel/falcon/v3.20.0/vendors/glightbox/glightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="/falconAdminPanel/falcon/v3.20.0/fonts.gstatic.com/index.html">
    <link href="/falconAdminPanel/falcon/v3.20.0/fonts.googleapis.com/css4e0a.css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="/falconAdminPanel/falcon/v3.20.0/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="/falconAdminPanel/falcon/v3.20.0/assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="/falconAdminPanel/falcon/v3.20.0/assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="/falconAdminPanel/falcon/v3.20.0/assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="/falconAdminPanel/falcon/v3.20.0/assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
       
        <nav class="navbar navbar-light navbar-vertical navbar-expand-xl" style="display: none;">
          <script>
            var navbarStyle = localStorage.getItem("navbarStyle");
            if (navbarStyle && navbarStyle !== 'transparent') {
              document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
            }
          </script>
          <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">
              <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
                    </div><a class="navbar-brand" href="/falconAdminPanel/falcon/v3.20.0/index.html">
                        <div class="d-flex align-items-center py-3"><img class="me-2" src="/falconAdminPanel/falcon/v3.20.0//assets/img/icons/spot-illustrations/falcon.png" alt="" width="40" /><span class="font-sans-serif text-primary">falcon</span></div>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content scrollbar">
              <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
              

                <li class="nav-item"><!-- kullaılan kısımmm -->
                  <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                    <div class="col-auto navbar-vertical-label">Mesaj Kısmı</div>
                    <div class="col ps-0">
                      <hr class="mb-0 navbar-vertical-divider" />
                    </div>
                  </div><!-- parent pages--><a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/calendar.html" role="button">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-calendar-alt"></span></span><span class="nav-link-text ps-1">Calendar</span></div>
                                </a><!-- parent pages-->
                                <!-- <a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/chat.html" role="button">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text ps-1">Chat</span></div>
                  </a> parent pages-->
                  
                  
                  <a class="nav-link dropdown-indicator" href="#email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text ps-1">Mesaj İşlemleri</span></div>
                  </a>


                  <ul class="nav collapse" id="email">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/email/inbox.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Inbox</span></div>
                      </a><!-- more inner pages--></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/email/inbox.html">
                                            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">SendBox</span></div>
                                        </a><!-- more inner pages-->
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/email/email-detail.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Email detail</span></div>
                      </a><!-- more inner pages--></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/falconAdminPanel/falcon/v3.20.0/app/email/compose.html">
                        <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Compose</span></div>
                      </a><!-- more inner pages--></li>
                  </ul><!-- parent pages-->

                </li>
             
  
               
              </ul>
             
            </div>
          </div>
        </nav>

        <div class="content">
       
      
          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top:not([data-double-top-nav');
            var navbarDoubleTop = document.querySelector('[data-double-top-nav]');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');

            if (localStorage.getItem('navbarPosition') === 'double-top') {
              document.documentElement.classList.toggle('double-top-nav-layout');
            }

            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'double-top') {
              navbarDoubleTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarDoubleTop.remove(navbarDoubleTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
                @RenderBody()
      
          <footer class="footer">
            <div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2024 &copy; <a href="https://themewagon.com/">Themewagon</a></p>
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v3.20.0</p>
              </div>
            </div>
          </footer>
        </div>
     
      </div>
    </main><!-- ===============================================--><!--    End of Main Content--><!-- ===============================================-->

  
    </a>

    <!-- ===============================================--><!--    JavaScripts--><!-- ===============================================-->
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/popper/popper.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/anchorjs/anchor.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/is/is.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/glightbox/glightbox.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/fontawesome/all.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/lodash/lodash.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/vendors/list.js/list.min.js"></script>
    <script src="/falconAdminPanel/falcon/v3.20.0/assets/js/theme.js"></script>
  </body>


<!-- Mirrored from prium.github.io/falcon/v3.20.0/pages/user/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Apr 2024 22:43:21 GMT -->
